fastapi
uvicorn[standard]
asyncpg
clerk-fastapi
pyjwt[cryptography]
faiss-cpu
google-generativeai
gTTS
numpy
sentence-transformers
spacy
docx2txt
fpdf
Pillow
PyMuPDF
python-multipart
weasyprint
pip-audit
slowapi
python-dotenv